{
  "username": "adamjajko6982@gmail.com",
  "headers": {
    "Content-Type": "application/json",
    "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjQ3MSwidGVhbUlkIjoxNCwiaXNBcGlLZXkiOnRydWUsImlhdCI6MTcyMzQ1NzU4NH0.UlKHMFmVd-P-KZY3FcmXqYGSGUI7cfN_EFLonm3MkX8",
    "User-Agent": "Crave"
  },
  "projects": [],
  "server": "https://foss.crave.io/api"
}
